<h1>Top streams for <%= @game.name %> </h1>

  <ul class="thumbnails">
    <% @game_streams.each do |stream| %>
      <li class="span4">
        <%= link_to image_tag(stream.logo), stream %>
        <%= stream.name %>
        <%= " : #{stream.viewers}" %>
        <%= stream.game %>
      </li>
    <% end %>
  </ul>